@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zcool";
  src: url("../assets/fonts/ZCOOL/ZCOOLQingKeHuangYou-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/ZCOOL/ZCOOLQingKeHuangYou-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../assets/fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2")
      format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.woff2")
      format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #033d4b;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #074e60;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #095568;
}

.cards:hover {
  outline: solid 2px #095568;
}
